html {
width: 100%;
/*overflow-x: hidden;*/

}

#home{

    position: absolute;


}

body{
    width: 100%;
    margin: 0px;
    background:  linear-gradient(rgb(200, 251, 220), rgb(255, 255, 255)); 
    
    color: #000000;
    /*overflow-x: hidden;*/
    text-align:justify;
    font-family: 'Roboto', sans-serif;


}


/*

#envoltura{

    
    background-color: #02530e; 
    height: 100%;
    margin: 20px;
    padding: 10px;





}


*/
/*


.objets{
    position:fixed;
    width: 50px;
    height: 50px;
    background-color: aqua;
    padding: 1px;
    margin: 1px;
    top: 1px;


}

.objets_cuadro {

    opacity: 50%;
    animation-name: llenar-barrita2;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline:scroll();


}


@keyframes llenar-barrita2 {
    from{
      transform: translate(1px, 1px);

    }
    to{
     
        transform: translate(300px, 440px) rotate(900deg);;
        background-color: #000;
  

    }
}

*/






.navcitoADA{
   
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  8px 0px 0px 0px;
    text-align: center;
    position: sticky;
    top: 0px;
    box-shadow: 7px 5px 15px rgb(0, 10, 6) ;
    z-index: 50;

}




.nav__ul{
    
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;


}



.nav__item{
    list-style: none;

}

/*
.nav__logo-container{
    
    margin: 0px 100% ;
    text-align: center;
    font-family: "chiller";
    font-size: 20px;
    color: #000;
    letter-spacing: 10px;
    

}
*/










.contenedor_logo{
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 50;
    opacity: 100%;
    padding: 0;
    margin: 0;
    

    
}


.nav__logo-container{
    display: flex;
    justify-content: center;
   
    background-color: #ffffff;
    box-shadow: 7px 20px 15px rgba(0, 10, 6, 0.559) ;

  
    text-align: center;
    font-family: "chiller";
    font-size: 20px;
    color: #000;
    letter-spacing: 10px;
    top: 46px;
  
    position: sticky; 
  
    



}
























.nav__ul-container, .nav__logo-container{
    flex-grow: 1;
    text-align: center;


}




.nav__link{

    color: #02530ef0;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 0;
    transition: background-color 0.5s, border-radius 0.25s,  outline 0.4s, outline-offset 0.4s;
    outline: 0;
    outline-offset: 0;
    


}

.nav__link:hover{
    background-color:#02530e43;
    border-radius: 20px;
    outline: 2px solid #02530e7c;
    outline-offset: -7px;

 
}

.link--Home{
    background-color:#02530ec5 ;
    color: #fff;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;


}


.link--login:hover{
    background-color:#057616a1 ;
    outline: navajowhite;

}



.main-sectionNav{
    color: #ffffff;
    background-color: rgb(4, 91, 43);

    max-width: 800px;
    margin: auto;
    font-size: 20px;
    margin-top: 100px;

}


/* CAMBIANDO H1*/


h1{
    text-align: left;
    padding-top: 65px ;
    font-size: 70px;
    margin-left: 50px;
    margin-bottom: 0;

   
    max-width: 22%;

   
 
    background-image: linear-gradient(to right, black 0%, white 50% );
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media (max-width: 1080px) {
  h1 {
  max-width: 75%;

  }
}




h1 + p {


  
    text-align: left;
    font-style: italic;

    margin-left: 50px;
    color: white;
    

  

}




/*Encabezado */

.nombre{



    background-color: #000000;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #166829, #000100 );

    position: relative;
    padding: 10px 0 200px 0;


}



.nombre p {
    position: absolute;
    top: 50%;     
    left: 50%;    
    color: #ffffff;
    width: 50%;
    

    
}



@media (max-width: 1080px) {
 .nombre p  {

    position: relative;
  

    left: 10%;   
    padding-bottom: 40px;
    text-align: center;


  }
}

/*ABOUT ME*/

#about_me{

    background-image: url(https://cdn.pixabay.com/photo/2023/07/08/07/24/ai-generated-8113881_1280.jpg);

    background-position: center;
    background-repeat: no-repeat;
    margin-left: -30px; 

    color: #fff;


}


.contenedorAbout{

    background-color: rgba(0, 0, 0, 0.71);


}


.contenedorAbout h2{
    opacity: 0;
    margin-top: 0;

}

.contenedorAbout p{
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-align: left;

    padding: 100px 100px;

    width: 50%;

    color: rgba(255, 255, 255, 0.489);
    
  
    transition: transform .8s,    text-align 5s,    text-shadow 1s,  color 1.5s;

}



.contenedorAbout p:hover{

    transform: translate(100px);

    
    animation: holis 2s  infinite alternate-reverse backwards;



    color: white;
    text-shadow: 0 0 15px  rgba(0, 255, 64, 0.701);


     

}








/*Proximamente */


#Proximo{
    color: #000000;


    display: flex;
    flex-direction: column;
    align-items: center;  


}


.separador {

    width: 200%;
    height: 40px;

    background-color: #ffb300;
    background:repeating-linear-gradient( to right, #ffb300 0px, #ffb300 100px, black 0px, black 200px) ;
    transform: skewX(-30deg)  translate(-10px);
  
    
    animation-name: separator-movement;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    box-shadow: 1px 10px 15px rgb(0, 10, 6) ;
  



    
   
}






#mensaje{
    font-size: 35px;
    text-align: center;
    
    position: relative;


}



#mensaje::before{
    content: '';
    width: 25px;
    height: 10px;
    background-color: rgb(224, 249, 234) ;
    position: absolute;
    right: 0;
    border-radius: 4px ;
    animation: titilar 5s reverse infinite  steps(4);
    bottom: 5px;
}   

@keyframes titilar {

    from{
        width: 0;


    }
    to{

    width: 16.7%;
    
    }

    
}





@keyframes separator-movement {
    from{
  
      
    }
    to{
        transform: skewX(-30deg) translate(-60px) ;
     
    
    }
}





/*Skills*/

#skills{

   

    width: 110%; /* 100% del viewport */
    margin-left: -30px; /* compensa el margen de #envoltura */

    padding: 20px;
    background:  linear-gradient(rgb(27, 83, 49), rgb(0, 0, 0)); 

    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  
    margin-top: 100px;
    

}


.cajitaSkills{

  background-color: #ffffff;
  color: #02530e;
  padding: 10px 50px;
  width: 100%;
  max-height: 500px;
  max-width: 500px; /* se adapta pero no crece más de esto */
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* asegura que el padding no rompa el ancho */




}


#skills h2{


    color: #00000000;


}


.cajitaSkills h3{

    font-size: 40px;
    text-align: start;



}

.cajita{
    max-height: 140px;
    width: 100%;


    padding: 30px 0 100px 0;
    overflow: hidden;

  
    display: flex;
  
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-evenly; 

    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #000;
    text-align: center;
    
    
 
}




.Skill{

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 60px;
    min-height:60px;
    max-width: 60px;
    min-height: 60px;

    margin: 10px 10px 10px 0;
    background-color: #cdf0d9;  

    animation-delay: 0s;
    animation-fill-mode: both ;

  

    animation:  skills-movements  5s  infinite  ;

    animation-direction: alternate; 
    animation-timing-function: linear;

}



.C, .skill_Cs, .skill_C{

  background-color: #7dd49a;
    color: #000;
}





@keyframes skills-movements {
    0%{
      
         
    }
    50%{
           transform:  translate(0) ;

       

    }
    100%{
        transform:  translate(-575px) rotate(60deg);

     
    
    }
}






/*Logros*/


#logros{
    width: 100%;
    margin-left: -30px; 
   
    padding:0px 20px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045379_1280.jpg);



}

.zona-galeria {

    display: flex;
    flex-flow: row wrap; 
    width: 100%;
    padding: 300px 50px;

    background-color: #00000082;
    justify-content:space-evenly; 
   
}

.pieza img {
    
    height:150px ;
    width: 250px;
    background-color: rgb(34, 170, 68);
    margin: 10px;
    color: #fff;
    font-size: 40px;
    border-radius: 20%;
    box-shadow: 0 0 20px rgba(255, 253, 253, 0.564);

}

.pieza:hover{
    z-index: 10;
    transform: scale(1.6) ;


}




.pieza:active{
    z-index: 10;
 
  
  animation: rotate-scale-up-ver 0.85s linear 0s 1 normal both;
   


}



@keyframes rotate-scale-up-ver {0%  { transform: scale(1) rotateY(0); } 50% { transform: scale(2) rotateY(180deg); } 100% { transform: scale(1) rotateY(360deg);} }







/*Contact*/

#Contact{

    width: 100%;
    
    background-color: #000;
 
    bottom: 0;
  

}













.contact_footer{
   
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  8px 100px 8px 40px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 7px 5px 15px rgb(0, 10, 6) ;
    z-index: 50;
  
}




.contact_ul{
    
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;


}



.nav_item{
    list-style: none;
    padding: 10px;
     

}



.logo_footer{

    width: 100%;
    height: 20px;
    background-color: #ffffff;
    color: #000;
    
    font-family: "chiller";
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;


}



.nav_link{

    color: #fffffff0;
    text-decoration: none;
    display: inline-block;
    position: relative;


    
}





.nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width .7s ease;




}


.icon-img{
  width: 32px;
  height: 32px;


}


.nav_link:hover::after {
  width: 100%;


}
