/* VARIABLES */

@font-face {
  font-family: 'Arial, sans-serif';
  src: url('Arial, sans-serif') format('truetype');
  font-display: swap;
}

:root {
    --primary-colorFondo: #fff;
    --primary-colorLetra: #fff;
    --secondary-colorFondo: #000;
    --secondary-colorLetra: #000;
    --tertiary-colorFondo: #065b24b9;
    --brightness: #24f9a4;
    --fondo1: #c9f8dc;
    --pantalla: #000000ac;
    --fondo2: #335333;
    --fondoSemiTrasnpartente:#40f56a24;
}

/* Html */

html {
    width: 100%;
    overflow-x: hidden;
    scrollbar-color: #4CAF50 #383838;
}

#home {
    position: absolute;
    color: transparent;
    background-color: var(--primary-colorFondo);
    width: 100%;
    top: 0;
    display: block;
}

body {
    width: 100%;
    margin: 0px;
    background: linear-gradient(rgb(32, 104, 61), rgb(209, 248, 213));
    color: var(--secondary-color);
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

/* BOTONES TEMAS */

#toggleBotones {
    display: none;
}

.checkbox-custom {
    position: fixed;
    width: 20px;
    margin: 10px 20px;
    padding: 20px;
    z-index: 60;
    top: 425px;
    right: 0;
    background-color: var(--primary-colorFondo);
    border-radius: 50px;
    cursor: pointer;/*Para que al pasar el cursor se vea la*/
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.checkbox-custom:hover{
    background-color: rgb(9, 9, 9);
    color: var(--brightness);
}
.checkbox-custom:active {
    border-radius: 50px;
    cursor: pointer;
    transform: scale(.9);
}

input[type="checkbox"]:checked+.checkbox-custom {
    background-color: var(--primary-colorFondo);
    animation: ade 1.5s both infinite;
    border: none;
}

@keyframes ade {
    0% {}
    100% {
        box-shadow: 0px 0px 25px var(--brightness);
        transform: scale(1.1);
    }
}

.grupo-botones{
    position: fixed;
    display: grid;
    height: 400px;
    width: 400px;
    z-index: 55;
    top: 60px;
    right: 370px;
    opacity: 0; 
    grid-template-columns: repeat(2, 1fr);; /* Tres columnas: fija, fija y flexible */
    grid-template-rows: repeat(3, 100px);
    display: none;
    
}




#toggleBotones:not(:checked)  ~ .grupo-botones {
    opacity: 1;
     display: grid;
}

.configuracion{
    position: absolute;
    text-align: center;
    left: -25px;
    right: 0;

}

.pruebe{
    position: fixed;
    content: '';
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 55;
    display: none;
}


.pruebe::after{
    position: fixed;
    content: '';
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 500px;
    height: 430px;
    top: 30px;
    right: 325px;
    background-color: var(--fondo1);
    border: 3px solid var(--secondary-colorFondo);
    z-index: 55;
    border-radius: 20px;
    
    animation: identifier 1s both ;
    display: none;
}

@keyframes identifier {
    0%{  height: 00px;

    }100%{
          height: 430px;


    }
}

#toggleBotones:not(:checked)  ~ .pruebe 
 {
    opacity: 1;
    display: block;
 
}
#toggleBotones:not(:checked)  ~ .pruebe::after {
    opacity: 1;
     display: block;
}

.grupo-botones >:not(:nth-child(5)) {
    transition: opacity 0.3s ease, transform 0.5s ease, scale .8s ease; 
}

#toggleBotones:checked~.grupo-botones >:not(:nth-child(5)) {
    opacity: 0;
    scale: .8;
    transform: translateY(200px) translatex(90px);
}



.grupo-botones > :nth-child(5) {
    position: absolute;
    left: 500px;
    bottom: -60px;
    width: 0;
    transform: translateX(-25px) translateY(-12px);
    transition: transform 0.7s ease, width 1s ease;
    height: 15px;
    color: var(--secondary-colorFondo);
    border: 2px solid #000; 
    background-color: var(--primary-colorFondo); 
    
}


#toggleBotones:not(:checked)~.grupo-botones> :nth-child(5) {
    width: 200px;

}
#toggleBotones:not(:checked)~.grupo-botones {
    opacity: 1;
}

.radiohome:hover{
    background-color: rgba(9, 9, 9, 0.384);
    color: var(--brightness);
}

.radios{
    margin: 10px 10px;
    padding: 20px;
    width: 100px;
    height: 20px;
    background-color: var(--tertiary-colorFondo);
    text-align: center;
    border-radius: 50px;
    border: 2px solid var(--primary-colorFondo);
    color: var(--primary-colorLetra);
    margin-top: 80px;
}


.radios:hover:not(:nth-child(5)) {
    background-color: rgba(0, 0, 0, 0.418);
    color: var(--brightness);
    transform: scale(1.1);
}

.radios:active {
    transform: scale(.9);
}



#TemaNocturno,
#TemaClaro,
#TemaTierno,
#TemaDefecto, 
#NoAnimation{
    display: none;
}

/* CAMBIO DE TEMA, TEMA OSCURO*/

#TemaNocturno:checked~#envoltura {
    color: #8cbff6;
    background-color: #000a3e;
    --primary-colorFondo: #000a3e;
    --primary-colorLetra: #8cbff6;
    --secondary-colorFondo: #609ddf;
    --secondary-colorLetra: #8cbff6;
    background: linear-gradient(#000a3e, #000a3e);
    --tertiary-colorFondo: #1f3edad1;
    --brightness: #fcd136;
    --fondo1: #09215d;
    --pantalla: #000216cb;
    --fondo2: #00001a;
    --fondoSemiTrasnpartente:#40a1f524;
}

#TemaNocturno:checked~#envoltura h1 {
    background-image: linear-gradient(to right, rgb(17, 0, 255) 0%, rgb(255, 238, 162) 50%);
}

#TemaNocturno:checked~#envoltura #skills,
#TemaNocturno:checked~#envoltura .Fondo {
    background: linear-gradient(rgb(3, 16, 31), rgb(20, 34, 49));
}

#TemaNocturno:checked~#envoltura #about_me,
#TemaNocturno:checked~#envoltura .nombre {
    background-image: url(https://cdn.pixabay.com/photo/2021/12/02/02/59/mountains-6839521_1280.jpg);
    animation: movet2 .4s ease;
}


@keyframes movet2 {
    0% {
        transform: translateX(-250px) translateY(-400px);
    }
    100% {
        transform: translateX(10px) translateY(10px);
    }
}


/* TEMA CLARO */

#TemaClaro:checked~#envoltura {
    color: #171104;
    background-color: #fffac2;
    --primary-colorFondo: #fffac2;
    --primary-colorLetra: #171104;
    --secondary-colorFondo: #040404;
    --secondary-colorLetra: #171104;
    background: linear-gradient(#fffac2, #fffac2);
    --tertiary-colorFondo: #532e02d1;
    --brightness: #ff5e00;
    --fondo1: #8e6432;
    --pantalla: #b8900fd6;
    --fondo2: #e3ca79;
    --fondoSemiTrasnpartente:#f8b12c3e;
}

#TemaClaro:checked~#envoltura h1 {
    background-image: linear-gradient(to right, rgb(255, 136, 0) 0%, rgb(255, 98, 0) 50%);
}

#TemaClaro:checked~#envoltura #skills,
#TemaClaro:checked~#envoltura .Fondo {
    background: linear-gradient(rgb(250, 172, 90), rgb(225, 207, 117));
}

#TemaClaro:checked~#envoltura #about_me,
#TemaClaro:checked~#envoltura .nombre {
    background-image: url(https://cdn.pixabay.com/photo/2014/04/03/11/07/sun-311763_1280.png);
    animation: movet .4s ease;
    background-position: -30px -100px;
}

@keyframes movet {
    0% {
        transform: translateX(250px) translateY(-400px);
    }
    100% {
        transform: translateX(-10px) translateY(10px);
    }
}

/* TEMA TIERNO */

#TemaTierno:checked~#envoltura {
    color: #7d5e5e;
    background-color: #ffc2c2;
    --primary-colorFondo: #ffc2c2;
    --primary-colorLetra: #7d5e5e;
    --secondary-colorFondo: #895050;
    --secondary-colorLetra: #ffffff;
    background: linear-gradient(#ffc2c2, #ffc2c2);
    --tertiary-colorFondo: #530202d1;
    --brightness: #ae0000;
    --fondo1: #e68a8a;
    --pantalla: #310032ac;
    --fondo2: #c26868;
    --fondoSemiTrasnpartente:#f3575724;
}

#TemaTierno:checked~#envoltura h1 {
    background-image: linear-gradient(to right, rgb(78, 40, 116) 0%, rgb(254, 128, 128) 50%);
}

#TemaTierno:checked~#envoltura #skills,
#TemaTierno:checked~#envoltura .Fondo {
    background: linear-gradient(rgb(196, 146, 146), rgb(201, 110, 110));
}


#TemaTierno:checked~#envoltura #about_me,
#TemaTierno:checked~#envoltura .nombre {
    background-image: url(https://cdn.pixabay.com/photo/2023/04/15/17/19/cat-7928232_1280.png);
    background-position: 0 -100px;
    animation: movet3 .4s ease;
}

@keyframes movet3 {
    0% {
        transform: translateY(400px);
    }
    100% {
        transform: translateX(10px) translateY(-10px);
    }
}


/* Tema anti Epilepsia y Daltonismo */



#NoAnimation:checked~#envoltura {
    color: #f2ff00;
    background-color: #2f5fc6;
    --primary-colorFondo: #2f5fc6;
    --primary-colorLetra: #2f5fc6;
    --secondary-colorFondo: #2f5fc6;
    --secondary-colorLetra: #f2ff00;
    background: linear-gradient(#2f5fc6, #2f5fc6);
    --tertiary-colorFondo: #f2ff00;
    --brightness: #f2ff00;
    --fondo1: #2f5fc6;
    --pantalla: #2f5fc6;
    --fondo2: #2f5fc6;
    --fondoSemiTrasnpartente:#2f5fc630;

}

#NoAnimation:checked~#envoltura h1 {
    background-image: linear-gradient(to right, #f2ff00 0%, #f2ff00 50%);
}

#NoAnimation:checked~#envoltura #skills,
#NoAnimation:checked~#envoltura .Fondo {
    
    background: linear-gradient(#010101, #010101);
}


#NoAnimation:checked~#envoltura #about_me,
#NoAnimation:checked~#envoltura .nombre {
        background-image: url(none);
    background-position: 0 -100px;

}

/* TEMA BASE */

#TemaDefecto:checked~#envoltura .nombre {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000cc 10px), repeating-linear-gradient(#197e4d, #0a0a0a);
    animation: movet4 .4s ease;
}

@keyframes movet4 {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateX(10px) translateY(-10px);
    }
}

/* NAVEGADOR */

.navcitoADA {
    background-color: var(--primary-colorFondo);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 0px 0px 0px;
    text-align: center;
    position: sticky;
    top: 0px;
    box-shadow: 7px 5px 20px var(--brightness);
    z-index: 50;
    overflow: hidden;
}

.nav__ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav__item {
    list-style: none;
}

.contenedor_logo {
    height: 140px;
    width: 100%;
    position: absolute;
    z-index: 50;
    opacity: 100%;
    padding: 0;
    margin: 0;
}

.nav__logo-container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-colorFondo);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.525);
    align-items: center;
    flex-wrap: wrap;
}

.logoDenizar {
    display: inline-block;
    text-align: center;
    font-family: "chiller";
    color: var(--secondary-color);
    letter-spacing: 10px;
    position: sticky;
    font-size: 2rem;
    margin: auto;
    margin-left: 45%;
}

.correoEn {
    display: inline-block;
    color: var(--secondary-color);
    letter-spacing: 1px;
    font-size: .75rem;
    font-family: sans-serif;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    background-color:var(--fondoSemiTrasnpartente);
    border-radius: 7px;
    transition: transform 1s ease;
}


.correoEn:hover:focus,
.correoEn:hover {
    color: var(--secondary-colorLetra);
    background-color: rgba(7, 108, 22, 0.18);
    transform: rotateX(350deg) rotate(-3deg);
}

@media (max-width: 1180px) {
    .logoDenizar {
        margin: auto;
    }
    .correoEn {
        margin-left: auto;
    }
}

.nav__ul-container,
.nav__logo-container {
    flex-grow: 1;
    text-align: center;
}

.nav__link {
    color: var(--tertiary-colorFondo);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 0;
    transition: background-color 0.5s ease, border-radius 0.25s ease, outline 0.4s ease, outline-offset 0.4s ease;
    margin-bottom: 5px;
}

.nav__link:hover {
    background-color: var(--primary-colorFondo);
    border-radius: 20px;
    outline: 2px solid var(--tertiary-colorFondo);
    outline-offset: -7px;
}

.nav__link::before {
    content: '';
    background-color: var(--fondo1);
    display: block;
    height: 200%;
    width: 150%;
    position: absolute;
    z-index: -1;
    transition: top 1s ease, left 1.5s ease;
    border-radius: 100%;
    top: 100%;
    left: 30%;
}

.nav__link:hover::before {
    top: -35%;
    left: -30%;
}

.link--Home {
    background-color: var(--tertiary-colorFondo);
    color: var(--primary-colorLetra);
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;
}

.link--Home:hover {
    background-color: var(--tertiary-colorFondo);
    color: var(--brightness);
 
}







#NoAnimation:checked~#envoltura .Disponibilidad,
#NoAnimation:checked~#envoltura .Skill,
#NoAnimation:checked~#envoltura .ContenedordelContenedorHs,
#NoAnimation:checked~#envoltura .contenedorH2,
#NoAnimation:checked~#envoltura .pieza:active {

 animation: none;

}

/* CAMBIANDO H1*/

h1 {
    text-align: left;
    padding-top: 65px;
    font-size:  3.438rem;
    margin-left: 50px;
    margin-bottom: 0;
    max-width: 40%;
    background-image: linear-gradient(to right, rgb(3, 169, 94) 0%, white 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1080px) {
    h1 {
        max-width: 75%;

    }
}

/*Encabezado */

.nombre{
    background-color: var(--secondary-colorFondo);
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000cc 10px), repeating-linear-gradient(#197e4d, #0a0a0a);
    position: relative;
    padding: 20px 0 10px 0;
    padding-bottom: 60px;
}

.clase {
    text-align: left;
    font-style: italic;
    margin-left: 50px;
    color: var(--primary-colorLetra);
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    font-size: 1.125rem;
}

@media (max-width: 1080px) {
    .clase {
        position: relative;
        margin-top: 50px;
        left: 10%;
        text-align: center;
    }
}

.Disponibilidad {
    position: relative;
    margin-left: 60px;
    border: 1.5px solid var(--brightness);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.813rem;
    display: inline-block;
    background-color: #000000;
    animation: pulsacion 2s infinite alternate;
    color: #fff;
}

@keyframes pulsacion {
    0% {
        color: var(--brightness);
    }
    50% {
        color: #00ff1100;
        border: 1.5px solid rgba(130, 254, 151, 0);
        box-shadow: none;
       
    }
    80% {
        color: var(--brightness);
        border: 1.5px solid var(--brightness);
        box-shadow: 0 0 10px var(--brightness);
    }
    100% {
        color: var(--tertiary-colorFondo);
        border: 1.5px solid var(--tertiary-colorFondo);
        box-shadow: 0 0 10px var(--brightness);
    }
}

.boton-descarga {
    color: var(--primary-colorLetra);
    text-decoration: none;
    transition: text-decoration 1s ease;
    display: inline-block;
    padding: 7px 15px;
    margin-left: 62px;
    margin-top: 10px;
}

.boton-descarga:hover {
    color: var(--brightness);
}

.skillsEncabezado {
    background-color: var(--tertiary-colorFondo);
    color: var(--primary-colorLetra);
   
    font-size: 1.875rem;
    text-align: center;
    margin-top: 100px;
  
}

.ski {
    display: inline-block;
    font-size: 1.438rem;
}

.IconSkill {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 20px 10px;
}

/*Projects */

.ContenedorP {
    position: relative;
    margin: 100px;
    margin-top: 41px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    padding: 50px 0;
    background-color: var(--fondo1);
}

.detalle1 {
    position: absolute;
    width: 100px;
    padding: 300px;
    height: 100px;
    background-color: var(--fondo1);
    left: -25px;
    top: -90px;
    clip-path: polygon(100% 0, 0 0, 25% 100%, 100% 100%);
 
}


.detalle2 {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 300px;
    background-color: var(--fondo1);
    right: -25px;
    top: -90px;
    clip-path: polygon(100% 0, 0 0, 0 100%, 75% 100%);
 
}

.detalle3 {
    position: absolute;
    width: 50%;
    height: 100px;
    background-color: var(--fondo1);
    right: 1px;
    bottom: -99px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    z-index: 1;
}

.detalle4 {
    position: absolute;
    width: 50%;
    height: 100px;
    background-color: var(--fondo1);
    left: 0;
    bottom: -99px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.project {
    width: 600px;
    min-height: 250px;
    min-width: 100px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    transition: transform .5s ease, box-shadow .4s ease, background-color 0.6s ease;
    background-color: var(--tertiary-colorFondo);
    box-shadow: 0 0 20px black;
    z-index: 2;
    position: relative;
    overflow: hidden;
    border: 4px solid var(--tertiary-colorFondo);
    
 
}

.project:hover {
    transform: scale(1.1);
    color: var(--primary-colorLetra);
    box-shadow: 0 0 25px var(--brightness);
    background-color: var(--brightness);
    border: 3px solid var(--secondary-colorFondo);
}

.ContenedorDescripcion {
    position: relative;
    top: -1px;
    left: -10px;
    width: 70%;
    height: 100%;
    padding: 10px;
    margin-left: 7PX;
    background-color: var(--primary-colorFondo);
    color: var(--secondary-colorLetra);
    clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
    text-align: left;
    transition: clip-path 0.7s ease;
    
   
}

.ContenedorDescripcion:hover {
    transition: clip-path 0.7s ease;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    z-index: 10;
}

.Titulote {
    font-size: 1.875rem;
    margin-bottom: 5px;
    margin-top: 5px;
    

}

.tecnologias {
    position: relative;
    margin-top: 30px;
    transform: scale(2.5);
    text-align:center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.21);
    width: 20%;
}

.tecnologias2 {
    margin: auto;
}

.linkGitHub{
    position: absolute;
    text-decoration: none;
    color: var(--primary-colorLetra);
    bottom: 0;
    margin-left: -45px;
    padding: 10px;
    z-index: 1;
 

}

.imgPortafolio {
    position: absolute;
    top: -1px;
    right: 0;
    width: 70%;
    height: 110%;
    object-fit: cover;
    clip-path: polygon(100% 0, 50% 0, 10% 70%, 100% 100%);
    transition: clip-path 0.7s ease;
    filter: blur(0.8px);
}

.imgPortafolio:hover {
     transition: clip-path 0.7s ease;
    clip-path: polygon(100% 0, 10% 0, 0 100%, 100% 100%);
    z-index: 10;
    filter: blur(0px);
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.171));
}

/*Proximamente */

.ProjectH2 {
    color: #00000000;
}

#Proximo {
    color: var(--secondary-colorLetra);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separador {
    width: 200%;
    height: 40px;
    background-color: #ffb300;
    background: repeating-linear-gradient(to right, #ffb300 0px, #ffb300 100px, black 0px, black 200px);
    transform: skewX(-30deg) translate(-10px);
    animation-name: separator-movement;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 1px 10px 15px rgb(0, 10, 6);
    margin-top: 50px;
    margin-top: 20px;
}

@keyframes separator-movement {
    from {}
    to {
        transform: skewX(-30deg) translate(-60px);
    }
}

#mensaje {
    font-size: 2.188rem;
    text-align: center;
    margin-top: 2.188rem;
    position: relative;
}

/*Skills*/

#skills {
    width: 110%;
    margin-left: -30px;
    max-height: 550px;
    padding: 20px;
    background: linear-gradient(rgb(27, 83, 49), rgb(0, 0, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 0;
    
}

.ContenedorSkills {
    background-color: var(--fondo1);
    color: var(--tertiary-colorFondo);
    padding: 0 50px;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0px 10px var(--brightness);
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(-520px);
    
}

.skillsh2 {
    color: #00000000;
}

.ContenedorSkills h3 {
    font-size: 2.188rem;
    text-align: start;
    margin: 20px 0;
}

.cajitaSkills {
    max-width: 400px;
    color: var(--secondary-color);
    text-align: center;
    transition: background-color .4s ease;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
    grid-template-rows: repeat(2, auto);
    padding: 30px 0 80px 0;
    border-radius: 12px;
    max-height: 150px;
}

.Skill {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    min-height: 100px;
    margin: 0 10px 10px 0;
    animation: skills-movements 10s infinite;
    animation-timing-function: ease-in-out;
    transition: transform 0.5s ease, filter .6s ease;
}

@keyframes skills-movements {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(100px);
    }
    30% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-100px);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}



.Skill:hover {
    color: var(--primary-colorLetra);
    z-index: 55;
    transform: scale(1.5) rotateY(360deg) translatey(-15px);
    filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.171));

}

.cajitaSkills:hover .Skill {
    animation: paused;
    overflow: visible;

}

.cajitaSkills:hover {
    overflow-x: scroll;
    overflow: visible;
}

.Skill .imagenSkill {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*Habilidades blandas*/

.hola {
    color: rgba(255, 255, 255, 0.498);
    text-align: start;
    margin-left: 50px;
    margin-bottom: 100px;
    position: relative;
    margin-top: 50px;
}

.ContenedordelContenedorHs {
    width: 90%;
    height: 400px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    position: relative;
    color: rgba(255, 255, 255, 0.516);
    animation: mover;
    animation-timeline: view();
    animation-range: entry 120% exit 120%;
    animation-fill-mode: both;
}

@keyframes mover {
    0% {}
    100% {
        transform: translateY(145%) translateX(60%);
        color: rgba(255, 255, 255, 0.772);
    }
}

.contenedorH,
.contenedorH2 {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    gap: 40px;
    flex-flow: column wrap;
}

.contenedorH2 {
    align-items: end;
    right: 0;
    animation: mover2;
    animation-timeline: view();
    animation-range: entry 120% exit 70%;
    animation-fill-mode: both;
}

@keyframes mover2 {
    0% {}
    100% {
        transform: translateX(-155%);
    }
}

.blandSkill {
    font-size: 0.938rem;
    margin-left: 100px;
}

.blandSkill2 {
    font-size: 0.938rem;
    margin-left: 300px;
}

.blandSkill:hover,
.blandSkill2:hover,
.hola:hover {
    color: var(--primary-colorLetra);
}


@media (max-width: 1180px) {

    #skills {
        min-height: 850px;
    }

    .ContenedordelContenedorHs {
        animation: none;
        top: 440px;
        text-align: start;
    }

    .contenedorH,
    .contenedorH2 {
        animation: none;
        display: inline-block;
    }

    .contenedorH {
        top: 50px;
    }

    .contenedorH2 {
        left: 200px;
    }
    
    .blandSkill,
    .blandSkill2 {
        
        font-size: 0.938rem;
        margin: 30px;
    }

    .hola {
        top: 550px;
    }



}

/*ABOUT ME*/

#about_me {
    background-image: url(Imagenes/Fondito.png);
    background-position: center;
    background-size: cover;
    margin-left: -30px;
}

.contenedorAbout {
    background-color: var(--pantalla);
    min-height: 650px;
}

.contenedorAbouth2 {
    opacity: 0;
    margin-top: 0;
}

.Abouth2{
    position: absolute;
    transform: translateX(300px) translateY(-80px);
    color: var(--primary-colorLetra);

}


.Abouth2::after{
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url(Imagenes/CapturaAbout.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.Abouth2:hover::after {

   display: block;
  transform: translateX(110px) translateY(-210px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 0 100%, 20% 75%, 0% 75%);


}



.contenedorAbout p {
    font-size: 1.25rem;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-align: left;
    padding: 120px 100px;
    width: 50%;
    color: rgba(255, 255, 255, 0.489);
    transition: transform .8s, text-align 5s ease, text-shadow 1s ease, color 1.5s ease;
    margin-bottom: 0;
}

.contenedorAbout p:hover {
    transform: translate(50px);
    color: var(--primary-colorLetra);
    text-shadow: 0 0 15px var(--brightness);
}

/*Logros*/

.TitulosTitle{
    position: absolute;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color:var(--primary-colorLetra);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
  
}

#logros {
    width: 100%;
    margin-left: -30px;
    padding: 0px 20px;
    background-color: black;
    color: var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.zona-galeria {
    display: flex;
    padding: 100px 0px;
    margin: 0 100px;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 2px 0px 3px var(--brightness);
    width: 0px;
    left: 45%;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    color: #fff;    

}

.zona-galeria::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--brightness);
  transform: translateX(-50%);
  box-shadow: 0 0 20px var(--brightness);
}

.fieldset_Titulos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: var(--primary-colorLetra);
    border: 2px solid var(--brightness);
    border-radius: 10px;
    margin-bottom: 30px;
}

.pieza img {
    height: 150px;
    width: 250px;
    background-color: rgb(34, 170, 68);
    margin: 10px;
    font-size: 2.5rem;
    border-radius: 20%;
    box-shadow: 0 0 20px rgba(255, 253, 253, 0.564);
    object-fit: cover;
}

.pieza {
    transition: height 1s ease, transform .7s ease;
    will-change: transform;
    height: 200px;
    border-radius: 30px;
    margin: 20px;
    display: block;
}

.pieza:nth-last-child(1){
    margin-bottom: 100px;

}

.pieza:hover {
    z-index: 10;
    transform: scale(1.3) translateX(-25px);
    background-color: rgb(233, 232, 232);
    box-shadow: 0 0 20px var(--brightness);
    height: 350px;
    width: 270px;
    flex-direction: column;
}

.pieza:hover .detallesIMG {
    max-width: 90%;
    opacity: 100%;
    transition: opacity 2s ease;
    font-size: 0.625rem;

}

.pieza:hover .hoa {
    color: var(--secondary-colorLetra);

}


.pieza:active {
    z-index: 10;
   scale: 2;
}

.pieza:nth-child(odd) {
    transform: translateX(-310px);
}

.pieza:active:nth-child(odd) {
    transform: translateX(-100px)  scale(1) ;
     
}

.TituloLogro {
    display: block;
    text-align: center;
    font-size: 0.938rem;
    margin: 10px;
}

.detallesIMG {
    margin-left: 15px;
    color: #000000;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
}



.hoa{
    margin: 10px 20px 0;
    color: var(--brightness);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;

}



.ImagenTitulos{
    width: 100%;
    height: 100%;
   object-fit: cover;

}

/*Formulario o contacto*/

#Contact {
    position: absolute;
}

.Deco,
.Deco2 {
    position: absolute;
    width: 150px;
    height: 40rem;
    background: linear-gradient(var(--fondo1), rgba(0, 0, 0, 0));
}

.Deco::after,
.Deco2::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 100px;
    bottom: -90px;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--fondo1) 100%);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.Deco{
    left: 160px;
}

.Deco2{
    right: 160px;
}

.Fondo{
    position: relative;
    background: linear-gradient(rgb(18, 53, 32), rgba(0, 0, 0, 0));
    height: 700px;
    padding: 20px;
    margin: 0 100px;
}

.FondoFormulario {
    max-width: 31.25rem;
    min-width: 6.25rem;
    padding: 1.875rem;
    box-shadow: 0 0 25px #000000a8;
    margin: auto;
    background-color: var(--fondo2);
    border-radius: 10px;
    margin-top: 80px;
    border: 2px solid var(--tertiary-colorFondo);
    
}

.titulo_Formulario {
    text-align: center;
    color: var(--primary-colorLetra);
}

.fondoInput {
    background-color: #29292976;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    text-align: start;
}

.label_formulario {
    color: var(--primary-colorLetra);
    font-size: 1.063rem;
}

.CambioInput,
.Textarea,
.Seleccionables1 {
    border: none;
    padding: 5px;
    background-color: var(--primary-colorFondo);
    width: 98%;
    border-radius: 10px;
    border: 1px solid var(--fondo1);
    color: var(--secondary-colorLetra);
    margin: 10px 0;
}

.CambioInput:focus,
.Textarea:focus,
.Seleccionables1:focus {
    border: 2px solid var(--brightness);
    color: var(--secondary-colorLetra);
}

.CambioInput:focus-visible,
.Textarea:focus-visible,
.Seleccionables1:focus-visible {
    outline: none;
}

.fieldset_basico {
    color: var(--fondo1);
    border: 1.5px solid var(--fondo1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.Textarea {
    max-width: 100%;
    min-height: 70px;
    max-height: 100px;
    resize: vertical;
    font-family: sans-serif;
}

.boton{
    position:relative;
    color: var(--primary-colorLetra);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 15px 15px 0 0;
    background-color: var(--fondoSemiTrasnpartente);
    border: 2px solid var(--fondo1);
}

.boton:hover{
    background-color: var(--fondo1);
    color: var(--secondary-colorLetra);
    transform: scale(.9);
    border: 2px solid var(--secondary-colorFondo);
}

@media (max-width: 1130px) {

    .Fondo {
        position: relative;
        margin: 0;
    }

    .Deco,
    .Deco2 {
        position: absolute;
        right: 100px;
        max-width: 60px;
        z-index: 1;
    }

    .Deco {
        left: 100px;
    }

    .Deco::after,
    .Deco2::after {
        display: none;
    }
}

/*Contact o Footer*/

#Contacto {
    width: 100%;
    bottom: 0;
    background-color: var(--secondary-colorFondo);
    color: var(--secondary-colorLetra);
}

.logo_footer {
    width: 100%;
    height: 20px;
    font-family: "chiller";
    text-align: center;
    font-size: 1.063rem;
    letter-spacing: 10px;
    background-color: var(--primary-colorFondo);
}

.contact_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 100px 8px 40px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 7px 5px 15px rgb(0, 10, 6);
    z-index: 50;
    background-color: #000000;
}

.contact_ul {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav_item {
    list-style: none;
    padding: 10px;
}

.nav_link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #fff;
}

.nav_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    transition: width .7s ease;
    background-color: #ffff;
}

.nav_link:hover::after {
    width: 100%;
}

.icon-img {
    width: 32px;
    height: 32px;
}